@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

html, body {
    background-color: white;
    font-family: "Source Sans Pro";
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
}

html {
    /* a cada 1rem será considera 10px */
    font-size: 62.5%;
}
  
nav {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgb(18, 166, 255);
}

nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 90%;
    max-width: 980px;
    margin: auto;
}

nav .container img {
    width: 50px;
}

nav .container ul {
    display: flex;
  }

nav ul li {
    list-style: none;
  }
  
nav ul li a {
    text-decoration: none;
    color: orange;
    text-transform: uppercase;
    font-size: 1.4rem; 
    padding: 2.4rem;
    transition: all 250ms linear 0s;
  }
  
nav ul li a:hover {
    background: rgba(255,255,255, 0.15);
    color: white;
  }

.margin-top-bottom {
    margin: 20px 0 20px 0;
  }

  .margin-between-nav {
    margin: 120px 0 20px 0
  }


.margin-side {
    margin: 0 20px 0 20px;
}  

.container {
    width: 90%;
    max-width: 980px;
    margin: auto;
  }

.display-flex {
    display: flex;
    align-items: center;
}

.display-flex-no-align {
    display: flex;
    justify-content: space-between;
}

.display-flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

 .display-flex-end {
    display: flex;
    justify-content: end;
 } 

.subcontainer {
    width: 50%;
    max-width: 490px;
}

.subcontainer-logo {
    width: 200px;
}

.subcontainer-img {
    width: 300px;
}

.title {
    font-size: 4rem;
    color: rgb(189, 113, 0);
}

.subtitle2 {
    font-size: 2.8rem;
    color: orange;
}

.subtitle3 {
    font-size: 2.2rem;
    color: rgb(18, 166, 255);
}

.subtitle3-1 {
    font-size: 2.8rem;
    color: rgb(18, 166, 255);
}

.subtitle4 {
    font-size: 1.6rem;
    color: white;
}

.backgroundblue1{
    background-color: rgb(18, 166, 255);
    border-radius: 10px 10px 0 0;
    height: 10rem;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.backgroundblue2{
    background-color: rgb(18, 166, 255);
    border-radius: 0 0 10px 10px;
    height: 10rem;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

h2 {
    font-size: 2.8rem;
    line-height: 4.6rem;
}

h3 {
    font-size:2.4rem;
    line-height: 3.8rem;
    padding: 10px 0 10px 0;
}

p, strong{
    font-size: 1.8rem;
    line-height: 2.8rem;
    padding: 10px 0 10px 0;
}

li{
    font-size: 1.8rem;
    line-height: 2.8rem;
    padding: 10px 5px 10px 5px;
}

cite {
    font-size: 1.4rem;
    padding: 10px 0 10px 0;
}