html, body {
    margin: 0;
    padding: 0;
    font-family: arial;
    background-color: rgba(127, 209, 224, 0.986);
}

* {
    box-sizing: border-box;
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgb(33, 82, 156);
    z-index: 5;
    box-shadow: 0 0 3px 0 black;
}

.nav-center {
    display: flex;
    justify-content: space-around;
    width: 900px;
    margin: auto;
}

.nav-center a {
    font-size: 15px;
    text-decoration: none;
    color: orange;
    padding: 20px;
    display: flex;
    align-items: center;
}

.nav-center a:hover, a:active {
    transform: scale(1.05);
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(18, 73, 155);
}

.container {
    position: relative;
    width: 900px;
    margin: auto;
    margin-top: 30px;
    background-color: white;
}








header {
    width: 900px;
    height: 600px;
    padding: 0;
    margin: 0 0 20px 0;
}

.display{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70%;
}

.margin-side {
    margin:0 20px 0 20px;
}

.titlef {
    font-size: 40px;
    color: rgb(18, 73, 155);
}

.subtitle-initial {
    font-size: 25px;
    color: rgb(230, 130, 0);
}

.subtitle2-initial {
    font-size: 20px;
    color: orange;
}

.subtitle-background {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 30%;
    background-color: rgb(18, 73, 155);
    border-radius:20px 20px 0 0;
    color: white;
    font-size: 15px;
}










.container1-pag {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 600px;
    margin: 20px 0 20px 0;
}

.subtitle {
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: orange;
}

.subtitle1-background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: rgb(18, 73, 155);
    border-radius:0 20px 20px 0;

}

.blocktext{
    width: 400px;
    color: rgb(18, 73, 155);
    padding: 0;
    margin-right: 20px;
    font-size: 18px;
}

.blocktext ul {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.container2-pag {
    height: 600px;
    margin: 20px 0 20px 0;
}

.subtitle2-background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    background-color: rgb(18, 73, 155);
    border-radius:0 0 20px 20px;

}

.blocktext2{
    height: 50%;
    color: rgb(18, 73, 155);
    margin: 0 20px 0 20px;
    padding: 0;
    font-size: 18px;
}

li, cite {
    padding: 5px 0 5px 0;
}



